body{
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container{
    border: 5px solid black;
    padding: 20px;
    /* max-width: 800px; */
    margin: auto;
    background-color: rgb(235, 167, 178);
}

header{
    padding: 10px;
    text-align: center;
}

.content{
    display: flex;
    align-items: center;
}

.content img{
    width: 400px;
    height: auto;
}

h1{
    text-align: center;
    text-transform: capitalize;
    background-color: rgb(208, 176, 237);
    padding: 20px;
    border: 5px solid black;
}

